:root {
    --colorPrincipal: #970747;
    --colorSecundario: #fef6ec;
}

@font-face {
    /*Fuente normal para texto*/
    font-family: 'Roboto';
    src: url('../fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*Fuente negrita para titulos*/
    font-family: 'Roboto';
    src: url('../fonts/Roboto/static/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}