{% extends 'core/base.html' %}

{% load static %}

{% block title %}Agentes{% endblock %}

{% block content %}
<h1>Agentes</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
        </tr>
    </thead>
    <tbody id="contenido"> 
        {% for agente in agentes %}
            <tr>
                <th scope="row">{{agente.id}}</th>
                <td>{{agente.nombre}}</td>
                <td>{{agente.apellidopaterno}}</td>
                <td>{{agente.apellidomaterno}}</td>
            </tr>   
        {% endfor %}
    </tbody>
</table>
{% endblock %}