{% extends 'core/base.html' %}

{% load static %}

{% block title %}Pólizas{% endblock %}

{% block content %}
<h1>Pólizas</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Número de póliza</th>
            <th scope="col">Aseguradora</th>
            <th scope="col">Agente</th>
            <th scope="col">Cliente</th>
            <th scope="col">Tipo de póliza</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="contenido">
        {% for poliza in polizas %}
            <tr>
                <th scope="row">{{poliza.id}}</th>
                <td>{{poliza.aseguradoraid}}</td>
                <td>{{poliza.agenteid}}</td>
                <td>{{poliza.clienteid}}</td>
                <td>{{poliza.tipopolizaid}}</td>
                <td><a href="{% url 'poliza_ver' poliza.id %}" type="button" class="btn"><i class="bi bi-info-circle"></i> Info</a></td>
                <td><a href="{% url 'poliza_editar' poliza.id %}" type="button" class="btn"><i class="bi bi-pencil"></i> Editar</a></td>
            </tr>    
        {% endfor %}
    </tbody>
</table>
{% endblock %}